img {
    box-shadow: 2px 2px black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;    
}
/* Modified the h1 ( center, font ) */
h1 {
    font-size: 48px;
    font-family: 'Roboto';
    text-align: center;
    text-decoration: underline;

}
/* Just switch font and center the h2 */
h2 {
    background-color: darkorange;
    outline-style: solid;
    outline-width: 2px;
    outline-color: red;
    color: white;
    font-size: 32px;
    font-family: 'Quicksand';
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 80px;
    margin-bottom: 40px;
    padding-left: 60px;  
}
/* Modified the ol */
#liste {
    border-left-color: darkblue;
    border-left-style: solid;
    border-left-width: 5px;
    margin-left: 50px;
    padding-left: 35px;       
}
/* Modfied the ul */
.liste2 {
    text-align: right;
    list-style-type: square;
    list-style-position: outside;
}
/* Just do the table */
table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

th {
    font-size: 20px;
    font-weight: bold;
    height: 80px;
    text-align: center;
}

td {
    font-size: 14px;
    text-align: right;
    height: 50px;
}

.tableau {
    margin: 80px;
    margin-left: 80px;
    margin-right: 80px;
}

.col1 {
    width: 150px;
}

.col2 {
    width: 250px;
}

.col3 {
    width: auto;
}

#feti {
    color: darkred;
    font-size: 30px;
    text-align: center;
    width: auto;
}

form {
    display: flex;
    flex-direction: column;
}

.p1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-right: 10%;
    padding-left: 10%;
}

form ul {
    padding-left: 12%;
}

form li {
list-style-type: none;
}

footer {
    bottom: 0;
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
}